body{
    font-family: sans-serif;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    background-color: rgba(213, 204, 204, 0.676);
}

input[type="text"]{
    padding: 8px;
    width: 60%;
    border-radius: 10px;
    border: 2px solid rgb(82, 82, 247);
}

button{
    padding: 8px 15px;
    background-color: rgb(82, 82, 247);
    border: none;
    color: white;
    border-radius: 20px;
}

button:hover{
    background-color: rgba(6, 6, 6, 0.632);
}

#container{
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: #77707033;
}

.box{
    background-color: rgba(255, 251, 251, 0.811)
}